<!DOCTYPE html>
<html>
<title>login error</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<body>
<div class="w3-container w3-card w3-light-grey w3-center " style="height:75px;">
<img src="download.png" height="50px" class="w3-padding-2 w3-margin-top" >
<h1 class="w3-text-grey w3-padding" style="display:inline-block;"><b>KIT-O-KAT</b></h1>

</div>
<div class="w3-container w3-light-grey">
Invalid credential
<form class="w3-container w3-card-4 w3-display-middle w3-center" action="http://127.0.0.1:5000/login" method="post" style="width:500px;">
<img src="img_avatar5.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top w3-center">
        <div class="w3-section">
          <input class="w3-input w3-border w3-margin-bottom w3-light-grey" type="text" placeholder="Enter Domain" name="domain" required>
          <hr style="border-top: 1px solid green;">
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="username" required>
          <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="password" required>
          <button class="w3-btn-block w3-blue w3-section w3-padding" type="submit">Login</button>
        </div>
      </form>

</div>

</body>
</html>

